/* for repo cards */

#Repositories .card
{
    display: inline-flex;
    width: 37vw;
    min-width: 250px;
    min-height: 20vh;
    margin-top: 2vh;
    margin-left: 5vw;
    padding: 10px;
    text-align: center;
    background-color: #b0c4de;
}

#Repositories .card-block
{
    min-width: 35vw;
/*     position: relative; */
}

#Repositories .card-block .bottom_buttons{
/*     position: absolute; */
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Repositories .card-title
{
    width: 30vw;
    flex-grow: 5;    
}


#Repositories .btn-primary
{
    width: 28vw;;;
    margin-left: 4vw;
    margin-bottom: 3vh;
    text-align: center;
    word-break: break-all;
}

#Repositories .btn-secondary
{
    width: 20vw;
    margin-left: 7vw;
    margin-bottom: 2vh;
    
}

#Repositories .card-block
{
    min-height: 50vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.repodescription{
    width: 35vw;
    min-height: 30%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    flex-grow: 90;
    background-color: aliceblue;
}


.bottom_buttons{
    margin-top: 2vh;
    flex-grow: 0;
}

#Repositories .card .btn
{
/*     margin: 10px; */
    white-space: normal !important;
    word-wrap: break-word;
}

/**
 * For smaller screen
 */
@media only screen
and (max-width : 668px)
{
    
    #Repositories .card
    {
        width: 80vw;
        max-width: 90vw;
    }

    #Repositories .card-block
    {
        width: 70vw;
    }
    .repodescription{
        width: 69vw;
    }

    #Repositories .card-title
    {
        width: 60vw;
    }

    #Repositories .btn-primary
    {
        width: 60vw;

        text-align: center;
        word-break: break-all;
    }

    #Repositories .btn-secondary
    {
        width: 40vw;
    }
}