body{
		background-color: white;
}

#Repositories{
	margin: auto;
	width:95vw;
	padding: 5vw;
}

.card{
	width: 36vw;
	max-width: 500px;
	min-width: 250px;
	margin-top: 2vh;
	margin-left: 5vw;
	min-height: 20vh;
	background-color: #b0c4de;
	display: inline-flex;
	padding: 10px;
	text-align: center;
}

.card-block{
	width: 35vw;
}

.card-title{
	width: 25vw;
	text-align: center;
}

.btn-primary{
	word-break: break-all;
	width: 30vw;
	text-align: center;
}

.btn-secondary{
	width: 25vw;
}

@media only screen 
and (max-width : 668px) { 

	.card{
		width: 80vw;
		max-width: 90vw;
	}
	
	.card-block{
	width: 70vw;
}
	
	.card-title{
		width: 60vw;
	}

	.btn-primary{
		word-break: break-all;
		width: 60vw;
		text-align: center;
	}

	.btn-secondary{
		width: 40vw;
}

}

.card-block{
	min-height: 40vh;
	margin: auto;
	padding: 10px;
}


.card .btn{
	margin: 10px;
    white-space:normal !important;
    word-wrap: break-word; 

}



.modal-dialog,
.modal-header{
	width:90vw;
	max-width: 1000px;
}

.modal-body{
	background-color:ghostwhite;
}

.modal-body{
	padding-top: 2vh;
	padding-left: 2vw;
	padding-right: 2vw;
}

.modal-header{
	background-color:rgba(30, 255, 50, 0.5);
	text-align: center;
	display: block;
}

.card-text{
	border: black solid dotted;
	
}

#MarkDownData{
	word-wrap: break-word;
}